body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body, div{
  height: 100%;
}

img {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 600px;
}

div {
    background-image: url(../img/Landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
@media screen and (max-width: 1000px) {
    div {
      background-image: url(../img/dawn.png);
    }
}

@media screen and (max-width: 465px) {
    div {
      background-image: url(../img/maxresdefault.jpg);
    }
}
